.product_rating{
    display: flex;
    
}
.product__{
    margin-top: 5px;
}
.product{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    padding: 20px;
    align-items: center;
    margin: 10px;
}
.product>img{
    max-height: 200px;
    width: 100%;
    object-fit:contain;
    margin-bottom: 15px;
}
.product_info{
    height: 100px;
    margin-bottom: 15px;
}
.product > button{
    background-color: rgb(153, 165, 42);
    border: 1px solid;
    border-color: #a88734 #9c7e31;
}